<!DOCTYPE html>
<html lang="en">
<% include header %>

<body>
    <% include menubar %>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Shop Name</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">

                    <!-- ------------- phần hiển thị các bài học trong một khóa học --------------------------------- -->
                    <div id="giao_trinh" class="curriculum-container lazy_load" loaded="true">
                        <!-- placehoder-->
                        <div class="title">Giáo trình</div>
                        <!-- end placehoder-->
                        <div class="curriculum-overview">
                            <div class="curriculum-type">
                                Thể loại: <span>Kinh doanh - khởi nghiệp</span>
                            </div>
                            <div class="curriculum-lessons">
                                <div class="curriculum-lessons-number">
                                    <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png"
                                        width="24" height="24">Số bài:
                                    <span>74</span>
                                </div>
                                <div class="curriculum-time">
                                    <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker (1).png"
                                        width="24" height="24">Thời lượng
                                    <span>10:43:48</span>
                                </div>
                            </div>
                        </div>
                        <div class="curriculum-lesson-container">
                            <div class="curriculum-chapter-container">
                                <!--Bắt đầu chương 1 có 3 bài-->
                                <div class="curriculum-chapter">
                                    <div class="chapter-name">
                                        Chương 1: Khái niệm về khởi nghiệp thương mại điện tử
                                    </div>
                                    <div class="chappter-lesson-count">
                                        3 Bài
                                        <span class="collapse-icon collapse-up"
                                            toggle-target="collapse-container-1"></span>
                                    </div>
                                </div>
                                <div class="chapter-lessons" style="display: none;">
                                    <div class="chappter-lesson">
                                        <div class="lesson-name-container">
                                            <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png"
                                                width="24" height="24">
                                            <div class="lesson-name">Bài 1: Thương mại điện tử - Xu hướng cho bạn</div>
                                        </div>
                                        <div class="lesson-timer">
                                            04:10
                                        </div>
                                    </div>
                                    <div class="separate-line">

                                    </div>
                                    <div class="chappter-lesson">
                                        <div class="lesson-name-container">
                                            <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png"
                                                width="24" height="24">
                                            <div class="lesson-name">Bài 2: Hoạt động kiếm tiền bằng thương mại điện tử
                                            </div>
                                        </div>
                                        <div class="lesson-timer">
                                            05:17
                                        </div>
                                    </div>
                                    <div class="separate-line">

                                    </div>
                                    <div class="chappter-lesson">
                                        <div class="lesson-name-container">
                                            <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png"
                                                width="24" height="24">
                                            <div class="lesson-name">
                                                Bài 3: Những lựa chọn nghề nghiệp và kỹ năng bản thân
                                            </div>
                                        </div>
                                        <div class="lesson-timer">
                                            04:35
                                        </div>
                                    </div>
                                    <div class="separate-line">

                                    </div>
                                </div>
                                <!--Kết thúc chương 1 gồm 3 bài-->

                                <!--Bắt đầu chương 6 gồm 2 bài-->
                                <div class="curriculum-chapter">
                                    <div class="chapter-name">
                                        Chương 6: Làm nội dung quảng cáo và bán hàng
                                    </div>
                                    <div class="chappter-lesson-count">
                                        2 Bài
                                        <span class="collapse-icon collapse-down"
                                            toggle-target="collapse-container-6"></span>
                                    </div>
                                </div>
                                <div class="chapter-lessons" style="display: none;">
                                    <div class="chappter-lesson">
                                        <div class="lesson-name-container">
                                            <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png"
                                                width="24" height="24">
                                            <div class="lesson-name">
                                                Bài 1: Làm nội dung quảng cáo trên mạng
                                            </div>
                                        </div>
                                        <div class="lesson-timer">
                                            03:00
                                        </div>
                                    </div>
                                    <div class="separate-line">

                                    </div>
                                    <div class="chappter-lesson">
                                        <div class="lesson-name-container">
                                            <img src="http://dvkhfbm6djrbs.cloudfront.net/5be57a4be2e9ab000ba3a5b6/5d43f62ce1af2a00128ed897/ezgif.com-gif-maker.png"
                                                width="24" height="24">
                                            <div class="lesson-name">
                                                Bài 2: Nắm bắt xu hướng để làm quảng cáo
                                            </div>
                                        </div>
                                        <div class="lesson-timer">
                                            09:23
                                        </div>
                                    </div>
                                    <div class="separate-line">

                                    </div>
                                </div>
                                <!--Kết thúc chương 6 gồm 2 bài-->
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------Kết thúc  phần hiển thị các bài học trong một khóa học --------------------------- -->
                    <div class="card-body">
                        <h3 class="card-title">Product Name</h3>
                        <h4>$24.99</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta
                            fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi
                            pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                            similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                            laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                            similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                            laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                            similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                            laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->


</body>
<% include footer %>

</html>