<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Ecology Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dịch vụ học tập trực tuyến</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/assets/bootstrap.min.css">
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="stylesheets/assets/font-awesome.min.css">    
    <link rel="stylesheet" href="stylesheets/assets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/assets/magnific-popup.css">    
    <!-- owl carousel -->
    <link rel="stylesheet" href="stylesheets/assets/owl.carousel.css">
    <link rel="stylesheet" href="stylesheets/assets/owl.theme.css">     
    <link rel="stylesheet" href="stylesheets/assets/animate.css"> 
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="stylesheets/assets/slick.css">  
    <link rel="stylesheet" href="stylesheets/assets/preloader.css"/>    

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="stylesheets/assets/revolution/layers.css">
    <link rel="stylesheet" href="stylesheets/assets/revolution/navigation.css">
    <link rel="stylesheet" href="stylesheets/assets/revolution/settings.css">    
    <!-- Mean Menu-->
    <link rel="stylesheet" href="stylesheets/assets/meanmenu.css">
    <!-- main style-->
    <link rel="stylesheet" href="stylesheets/style.css">    
    <link rel="stylesheet" href="stylesheets/responsive.css">
    <link rel="stylesheet" href="stylesheets/demo.css">
</head>


