<header class="header_four">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>    
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="info_wrapper">
                            <div class="contact_info">                   
                                <ul class="list-unstyled">
                                    <li><i class="flaticon-phone-receiver"></i>+84 974979691</li>
                                    <li><i class="flaticon-mail-black-envelope-symbol"></i>duykin1235@gmail.com</li>
                                </ul>                    
                            </div>
                            <div class="login_info">
                                 <ul class="d-flex">
                                     <% if(!uname) { %>
                                    <li class="nav-item"><a href="#" class="nav-link sign-in js-modal-show"><i class="flaticon-user-male-black-shape-with-plus-sign"></i>Đăng Ký</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link join_now js-modal-show"><i class="flaticon-padlock"></i>Đăng Nhập</a></li>
                                     <% } else { %>
                                        <li class="nav-item"><a href="#" class="nav-link sign-in"><i class="flaticon-user-male-black-shape-with-plus-sign"></i>Chào mừng, <%= uname %></a></li>
                                        <li class="nav-item"><a href="/logout" class="nav-link join_now"><i class="flaticon-padlock"></i>Đăng xuất</a></li>
                                     <% } %>
                                 </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="edu_nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light bg-faded">
                    <a class="navbar-brand" href="/"><img style="height: 50px" src="images/logo.png" alt="logo"></a>
                    <<div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav nav lavalamp ml-auto menu">
                            <li class="nav-item"><a href="/" class="nav-link"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Trang
                                    Chủ</a>
                            </li>
                            <% if(type == 2) { %>
                            <li class="nav-item"><a href="/khoahocdadang" class="nav-link"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Quản
                                    lý khóa học của bạn</a>
                            </li>
                            <% } else { %>
                            <% if(owned) { %>
                            <li class="nav-item"><a href="/course" class="nav-link"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Các
                                    Khoá Học</a>
                            </li>
                            <li class="nav-item"><a href="/course-owned" class="nav-link active"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Khoá
                                    Học Đã Mua</a>
                            </li>
                            <% } else { %>
                            <li class="nav-item"><a href="/course" class="nav-link active"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Các
                                    Khoá Học</a>
                            </li>
                            <li class="nav-item"><a href="/course-owned" class="nav-link"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Khoá
                                    Học Đã Mua</a>
                            </li>
                            <% } } %>
                            <li class="nav-item"><a href="/about" class="nav-link"
                                    style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Về
                                    Chúng Tôi</a></li>
                        </ul>
                    </div>
                </nav><!-- END NAVBAR -->
            </div> 
        </div>
    </header>