<header class="header_four">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>    
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="info_wrapper">
                            <div class="contact_info">                   
                                <ul class="list-unstyled">
                                    <li><i class="flaticon-phone-receiver"></i>+84 974979691</li>
                                    <li><i class="flaticon-mail-black-envelope-symbol"></i>duykin1235@gmail.com</li>
                                </ul>                    
                            </div>
                            <div class="login_info">
                                 <ul class="d-flex">
                                     <% if(!uname) { %>
                                    <li class="nav-item"><a href="#" class="nav-link sign-in js-modal-show"><i class="flaticon-user-male-black-shape-with-plus-sign"></i>Đăng Ký</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link join_now js-modal-show"><i class="flaticon-padlock"></i>Đăng Nhập</a></li>
                                     <% } else { %>
                                        <li class="nav-item"><a href="#" class="nav-link sign-in"><i class="flaticon-user-male-black-shape-with-plus-sign"></i>Chào mừng, <%= uname %></a></li>
                                        <li class="nav-item"><a href="/logout" class="nav-link join_now"><i class="flaticon-padlock"></i>Đăng xuất</a></li>
                                     <% } %>
                                 </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="edu_nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light bg-faded">
                    <a class="navbar-brand" href="index-2.html"><img src="images/logo.png" alt="logo"></a>
                    <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav nav lavalamp ml-auto menu">
                            <li class="nav-item"><a href="#" class="nav-link active" style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Trang Chủ</a>
                            </li>
                           
                            <li class="nav-item"><a href="/course" class="nav-link" style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Các Khoá Học</a>
                               <!-- <ul class="navbar-nav nav mx-auto">
                                    <li class="nav-item"><a href="course.html" class="nav-link">TOEIC 350+</a></li>
                                    <li class="nav-item"><a href="course-details.html" class="nav-link">TOEIC 450+</a></li>
                                    <li class="nav-item"><a href="course-details.html" class="nav-link">TOEIC 750+</a></li>
                                    <li class="nav-item"><a href="course-details.html" class="nav-link">GIAO TIẾP</a></li>
                                </ul> -->
                            </li>
                            <!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a>
                                <ul class="navbar-nav nav mx-auto">
                                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog List</a></li> 
                                    <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Grid One</a></li> 
                                    <li class="nav-item"><a href="blog-3.html" class="nav-link">Blog Grid Two</a></li>
                                    <li class="nav-item"><a href="blog-details.html" class="nav-link">Blog Details</a></li>
                                </ul> 
                            </li> -->
                            <li class="nav-item"><a href="#" class="nav-link" style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">XXXX</a>
                                <ul class="navbar-nav nav mx-auto">
                                    <li class="nav-item"><a href="#" class="nav-link dropdown_icon">Courses</a>
                                        <ul class="navbar-nav nav mx-auto">
                                            <li class="nav-item"><a href="course.html" class="nav-link">Courses</a></li>
                                            <li class="nav-item"><a href="course-details.html" class="nav-link">Courses Details</a></li>
                                        </ul>    
                                    </li>                                 
                                    <li class="nav-item"><a href="#" class="nav-link dropdown_icon">Events</a>
                                        <ul class="navbar-nav nav mx-auto">
                                            <li class="nav-item"><a href="event.html" class="nav-link">Event</a></li>
                                            <li class="nav-item"><a href="event-details.html" class="nav-link">Event Details</a></li>
                                        </ul>    
                                    </li>                                
                                    <li class="nav-item"><a href="#" class="nav-link dropdown_icon">Blog</a>
                                        <ul class="navbar-nav nav mx-auto">
                                            <li class="nav-item"><a href="blog.html" class="nav-link">Blog List</a></li> 
                                            <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Grid One</a></li> 
                                            <li class="nav-item"><a href="blog-3.html" class="nav-link">Blog Grid Two</a></li>
                                            <li class="nav-item"><a href="blog-details.html" class="nav-link">Blog Details</a></li>
                                        </ul>    
                                    </li> 
                                    <li class="nav-item"><a href="become-a-teacher.html" class="nav-link">Become A Teacher</a></li>
                                    <li class="nav-item"><a href="teacher-profile.html" class="nav-link">Teachers Profile</a></li>
                                    <li class="nav-item"><a href="team.html" class="nav-link">Teachers Page</a></li>
                                    <li class="nav-item"><a href="forgot-password.html" class="nav-link">Forgot Password</a></li>
                                </ul>                            
                            </li>     
                            <li class="nav-item"><a href="contact.html" class="nav-link" style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Khoá Học Đã Mua</a>
                             <ul class="navbar-nav nav mx-auto">
                                    <li class="nav-item"><a href="course.html" class="nav-link">TOEIC 350+</a></li>
                                    <li class="nav-item"><a href="course-details.html" class="nav-link">TOEIC 450+</a></li>
                                    <li class="nav-item"><a href="course-details.html" class="nav-link">TOEIC 750+</a></li>
                                   
                                </ul> </li>
                                 <li class="nav-item"><a href="about.html" class="nav-link" style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Về Chúng Tôi</a></li>
                        </ul>
                    </div>
                </nav><!-- END NAVBAR -->
            </div> 
        </div>
    </header>